
<link rel="stylesheet" type="text/css" href="/static/css/temp.css">

<el-container >
    <el-aside class="index-aside" style=" width: auto;height: 100%">
        <el-row class="tac">
            <el-col :span="12">
                <el-menu
                        style="min-width:200px;border-right: none"
                        background-color="transparent"
                        default-active="2"
                        class="el-menu-vertical-demo"
                        text-color="#000000"
                        :default-openeds="openeds">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>导航一</span>
                        </template>
                            <el-menu-item index="1-1" @click="handleClick">查询商品</el-menu-item>
                            <el-menu-item index="1-2">新增商品</el-menu-item>
                            <el-menu-item index="1-3">选项3</el-menu-item>
                            <el-menu-item index="1-4">选项4</el-menu-item>
                    </el-submenu>
                    <el-menu-item index="2">
                        <i class="el-icon-menu"></i>
                        <span slot="title">导航二</span>
                    </el-menu-item>
                    <el-menu-item index="3" >
                        <i class="el-icon-document"></i>
                        <span slot="title">导航三</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-setting"></i>
                        <span slot="title">导航四</span>
                    </el-menu-item>
                </el-menu>
            </el-col>
        </el-row>
    </el-aside>
    <el-container>
        <el-header style="border: solid;height: 100px">Header
        </el-header>
        <el-main class="mainside" style="border: solid;height:100%;width: 100%;">
            <el-table
                    style="background-color:transparent;margin: auto;border-bottom: none;"
                    header-cell-style="background:#65c4ff;color:#000000;border:0;opacity:0.5"
                    header-row-style="background:transparent;color:#000000;"
                    row-style="background-color:transparent;color:#000000;"
                    cell-style="background:transparent;color:#000000;border-bottom:1px solid #65c4ff"
                    :data="tableData"
                    height="530px"
                    v-loading="loading">
                <el-table-column
                        label="商品 ID"
                        prop="id">
                </el-table-column>
                <el-table-column
                        label="商品名称"
                        prop="title">
                </el-table-column>
                <el-table-column
                        label="描述"
                        prop="sell_point">
                </el-table-column>
                <el-table-column
                        label="价格"
                        prop="price">
                </el-table-column>
                <el-table-column
                        label="更新时间"
                        prop="updated">
                </el-table-column>
            </el-table>

            <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="total"
                    :page-size="pagesize"
                    :current-page="currentPage"
                    @current-change="pageChanged">
            </el-pagination>

        </el-main>
    </el-container>
 </el-container>
 <script src="/static/js/main.js"></script>




