<div class="containerLeft">
    <button type="button" class="menubutton" id="login_btn" onclick="loginClick()">查询商品</button>
    <button type="button" class="menubutton" id="login_btn" onclick="loginClick()">新增商品</button>
    <button type="button" class="menubutton" id="login_btn" onclick="loginClick()">规格参数</button>
    <button type="button" class="menubutton" id="login_btn" onclick="loginClick()">网站内容管理</button>
    <button type="button" class="menubutton" id="login_btn" onclick="loginClick()">内容管理</button>
    <button type="button" class="menubutton" id="login_btn" onclick="loginClick()">退出</button>
</div>

<div class="containerRight">
    <table class="contextT">
        <tr>
            <th>Heading</th>
            <th>Another Heading</th>
        </tr>

    </table>
</div>
